extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img(src="img/nosotros.jpg" alt="imagen sobre nosotros", class="img-fluid")
            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis efficitur dui at congue. Donec lobortis arcu ac est varius dignissim. Duis ac convallis sem. Cras sollicitudin justo sed neque lacinia efficitur eget eget ligula. Quisque tempus fermentum efficitur. Curabitur congue purus sed arcu congue, ac hendrerit sapien fermentum. Mauris non maximus diam, vel dignissim turpis. 

                p Cras ut egestas dolor. Nam consectetur ligula augue, a vulputate tellus aliquam sed. Nulla facilisi. Nam gravida interdum odio. Mauris fringilla lacus nec nulla tincidunt tincidunt. Proin ac pretium dolor. Maecenas tempor sapien commodo, laoreet est at, luctus justo. Vivamus ac nulla feugiat, facilisis urna a, sagittis est. Vivamus nisl ipsum, gravida cursus eros eget, rhoncus congue tortor. 

                p Phasellus fringilla justo non diam aliquam molestie. Mauris sed volutpat erat. Vivamus commodo sem vel condimentum rutrum. Vivamus tincidunt, nibh tincidunt aliquam malesuada, lorem mi aliquet lectus, id congue enim leo et libero. Pellentesque et aliquam lorem. Sed nec aliquam dui. Donec ligula tortor, accumsan ac tincidunt eu, tempor nec orci. Aenean hendrerit purus eget enim feugiat, id varius lorem lacinia. Maecenas rhoncus lacus sed lacinia consectetur. Pellentesque ligula tellus, gravida in massa in, ullamcorper gravida augue. Nulla bibendum ac lacus efficitur fringilla. In vel nisi at lorem lacinia rutrum. 

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat nulla magni! Aut temporibus excepturi esse suscipit magni. Nam reprehenderit rerum eaque quo? Aut omnis quaerat, reiciendis in ducimus voluptatum?

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat nulla magni! Aut temporibus excepturi esse suscipit magni. Nam reprehenderit rerum eaque quo? Aut omnis quaerat, reiciendis in ducimus voluptatum?

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam placeat nulla magni! Aut temporibus excepturi esse suscipit magni. Nam reprehenderit rerum eaque quo? Aut omnis quaerat, reiciendis in ducimus voluptatum